body{
/* Encriptador - 1 Desktop */

position: relative;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */
background: #F3F5FC;
}

.logo-principal{
position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;

left: 84px;
top: 40px;

/* Dark blue/dark-blue-300 */
/*background: #0A3871;*/
}

div{
    top: 40px;
}

input{
position: absolute;
width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;

/* identical to box height, or 48px */

/* Dark blue/dark-blue-300 */
color: #0A3871;
}
